aside{
    background-color: $color-fondo;
    @include padding-margin(50px, 0);
    section{
        h2{
            color: $color-secundario;
            text-decoration: overline;
            text-align: center;
            @include padding-margin(20px 0 0 0 , 0);
        }
    }
    .aside-container{
        display: flex;
        justify-content: center;
        align-items: center;
        @include padding-margin(0 , 30px); 
        .aside-promo1, .aside-promo2{
            background-image: url(/img/aside.png);
            border:  3px solid;
            border-radius: 10px;
            width: 450px;
            height: 250px;
            text-align: center;
            @include padding-margin(40px, 10px); 
            h3{
                color: $color-superdetalles;
                text-decoration:underline;
            }
            p{
                color: $color-detalles;
            }
            .asideboton{
                background-color: $color-superdetalles;
                a{
                    list-style: none; 
                    color: $color-terciario;
                }
            }
        }
    }
} 