header{
    background-color: $color-principal;

    .navbar{
        background-color: $color-principal;
        padding: 10px 20px;           
        display: flex;
        justify-content: space-between;
        align-items: center;
        .container-fluid{
            div{
                ul{ 
                    list-style: none;
                    li{
                        a{
                            text-decoration: none;
                            color:  $color-detalles;
                            &:hover {
                                color: $color-secundario;
                            }
                        }
                    }
                }
                form{
                    input{ 
                        color: $color-secundario;
                    }
                    button{
                        &:hover{
                            background-color: $color-secundario;}
                    }
                }
            }
        }
    }
}