@media screen and (max-width: 700px) {
    main .hero {
        background-image: url(../img/hero2.jpg);
        height: auto;
    }

    main .hero p {
        color: $color-secundario;
        @include padding-margin(15px, 0); 
    }

    main .datosimportantes .datosimportantes-container {
        display: block;
        align-items: center;
        justify-content: center;
    }

    main .datosimportantes .datosimportantes-container .card {
        @include padding-margin(0, 20px auto); 
        max-width: 100%;
    }

    main .datosimportantes .datosimportantes-container .card .card-body p {
        font-size: nth($font-size, 3)
    }

    main .servicios section ul{
        display: block;
        align-items: center;
        justify-content: center;
        max-width: 80%;
        @include padding-margin(0, 20px auto); 
    }

    main .disenoojos .pestañas,
    main .disenoojos .cejas{
        width: 100%;
        @include padding-margin(30px, 20px 10px); 
    }
    
    main .disenopelo .pelo {
        width: 100%;
        @include padding-margin(30px, 20px 10px); 
    }

    aside .aside-container {
        display: block;
        justify-content: center;
        align-items: center;
        @include padding-margin(0, 0 auto); 
    }

    aside .aside-promo1, aside .aside-promo2 {
        width: 100%;
        height: auto;
        @include padding-margin(0, 10px 0); 
    }

    aside .aside-promo1 img,
    aside .aside-promo2 img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
    }

    aside .aside-promo1 h3,
    aside .aside-promo2 h3 {
        font-size: nth($font-size, 5);      
        margin-top: 10px;
    }

    aside .asideboton {
        background-color: $color-aside;
    }

    aside .asideboton a {
        list-style: none;
        color: aliceblue;
        @include padding-margin(10px 20px, 0); 
    }
}


@media screen and (max-width: 600px) {
    main .hero {
        width: 100%;
    }

    main .hero h1 {
        font-size: nth($font-size, 9);
        @include padding-margin(5px, 0); 
    }

    main .hero .boton {
        border-radius: 5px;
        border: solid 1px $color-secundario;
        @include padding-margin(15px, 0); 
    }

    main .servicios h2 {
        @include padding-margin(20px, 0); 
    }

    main .servicios ul {
        @include padding-margin(20px, 15px 50px); 
    }

    main .servicios ul li {
        @include padding-margin(10px, 0); 
    }

    aside .aside-container {
        display: block;
        justify-content: center;
        align-items: center;
    }

    aside .aside-promo1, aside .aside-promo2 {
        width: 100%;
        height: auto;
        @include padding-margin(0, 10px); 
    }

    aside .aside-promo1 img,
    aside .aside-promo2 img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }

    aside .aside-promo1 h3,
    aside .aside-promo2 h3 {
        font-size: nth($font-size, 3);
        margin-top: 5px;
    }

    footer {
        display: block;
        width: auto;
    }

    footer a {
        display: block;
        text-align: center;
        @include padding-margin(5px, 0); 
    }
}


@media screen and (max-width: 400px) {
    main .hero h1{
        font-size: nth($font-size, 8);
    }

    main .hero p{
        font-size: nth($font-size, 4);
    }

    main .presentacion p {
        @include padding-margin(10px, 0); 
        font-size: nth($font-size, 3);
        text-align: center;
    }

    aside .aside-promo1, aside .aside-promo2 {
        @include padding-margin(0, 0); 
        max-width: 100%;
        height:auto;
    }

    aside .aside-promo1 p, aside .aside-promo2 p{
        font-size: nth($font-size, 2);
        @include padding-margin(0); 
    }

    aside .aside-promo1, aside .aside-promo2 .asideboton{
        @include padding-margin(0, 0); 
        a{
            list-style: none; 
            color: $color-terciario;
            @include padding-margin(0, 0);
            font-size: nth($font-size, 2);
        }}
}